
/* title our-targ */
@media screen and (max-width: 1400px){
    /* .{
        font-size: 40px;
    } */
  
}
 @media screen and (max-width: 1230px){
   
    .bonus-mid {
       flex-direction: column;
   }
   .bonus-left{
  
       width:100%;
   }
   .bonus-right{
  background-image: url(https://images.wallpapersden.com/image/download/rgb-rain_bGtqbWyUmZqaraWkpJRobWllrWdma2U.jpg);

    width:100%;
}
    /* .container__events{
        display: none;
    } */
     .events-mid{
        flex-wrap:wrap;
    }
 
} 
@media screen and (max-width: 1020px){
    .targets-row{
        flex-direction: column;
        text-align: center;
    }

    object{
       display: none;
   }
  
}
@media screen and (max-width: 900px){
    .advantage-title{
        font-size: 55px;
    }
    .slider-title{
        font-size: 55px;
    }
    body{
        background-image: url(https://images.wallpapersden.com/image/download/cool-pattern-neon-art-2021_bGxobWmUmZqaraWkpJRoZWxorWZpZ2U.jpg);
    }
    #slides{
        display: none;
    }
    .partners{
         font-size: 40px;
    }
    .bonus-logo{
        font-size:80px;
    }
   
       
}
@media screen and (max-width: 720px){
     .advantage-row{
         flex-direction: column;
     }
     .advantage-row:nth-child(3){
        flex-direction: column;
    }
     .advantage-image-bl{
         display: none;
         
     }
 
    
     /* title td */
     .slider-title{
        font-size: 35px;
    }
    .partners-bot{
        flex-wrap: wrap;
    }
    .partners-top{
        flex-wrap: wrap;
    }
    .partners{
        font-size: 30px;
        width: 100%;
    }
}
@media screen and (max-width:560px){
    .bonus-logo{
        font-size:70px;
    }
    .glow-button{
        display: flex;
         }
         .bonus-but::after{
            display: none;
        } 
        .bonus-text{
            font-size: 30px;
            line-height: 80px;
        }
        .advantage-list{
            font-size:20px ;
        }
        .advantage-element{
            padding: 20px;
        }
        .target-block{
            width: 400px;
          height: 400px;
        }
        .target-desc{
            width: 400px;
            height: 400px;
        }
}
@media screen and (max-width:480px){
    .slider-title{
        font-size: 24px;
    }
    .bonus-logo{
        font-size:60px;
    }
    .bonus-text{
        font-size: 20px;
        line-height: 80px;
    }
    .advantage-title{
        font-size: 37px;
    }
}
@media screen and (max-width:435px){
    .target-cap{
        font-size: 50px;
    }
    .target-subtitle{
        font-size: 25px;
    }
    .target-block{

        width: 300px;
      height: 300px;
    }
    .target-desc{
        font-size: 20px;
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width:420px){
    .bonus-logo{
        font-size:40px;
    }
    .bonus-text{
        font-size: 20px;
        line-height: 50px;
    }
}