
/* title our-targ */
@media screen and (max-width: 1400px){
    .our-targets__title{
        font-size: 40px;
    }
  
}
 @media screen and (max-width: 1200px){
    .target-4-desc{
        display: none;
    }
   
} 
@media screen and (max-width: 900px){
    .our-targets__title{
        font-size: 30px;
    }
    .slider-title{
        font-size: 55px;
    }
    body{
        background-image: url(https://images.wallpapersden.com/image/download/cool-pattern-neon-art-2021_bGxobWmUmZqaraWkpJRoZWxorWZpZ2U.jpg);
    }
    #slides{
        display: none;
    }
}
@media screen and (max-width: 720px){
    .our-targets__title{
        font-size: 20px;
    }
    .slider-title{
        font-size: 30px;
    }
}
