
/* title our-targ */
@media screen and (max-width: 1400px){
    /* .{
        font-size: 40px;
    } */
  
}
 @media screen and (max-width: 1230px){

    .container__events{
        display: none;
    }
 
} 
@media screen and (max-width: 1020px){
    .targets-row{
        flex-direction: column;
        text-align: center;
    }
    .bonus-but::after{
        display: none;
    }
    
    object{
       display: none;
   }
}
@media screen and (max-width: 900px){
    
    .slider-title{
        font-size: 55px;
    }
    body{
        background-image: url(https://images.wallpapersden.com/image/download/cool-pattern-neon-art-2021_bGxobWmUmZqaraWkpJRoZWxorWZpZ2U.jpg);
    }
    #slides{
        display: none;
    }
    .partners{
         font-size: 40px;
    }
    .glow-button{
        display: flex;
         }

    
}
@media screen and (max-width: 720px){
     .advantage-row{
         flex-direction: column;
     }
     .advantage-row:nth-child(3){
        flex-direction: column;
    }
     .advantage-image-bl{
         display: none;
         
     }
 
    

     /* title td */
     .slider-title{
        font-size: 35px;
    }
    .partners-bot{
        flex-wrap: wrap;
    }
    .partners-top{
        flex-wrap: wrap;
    }
    .partners{
        font-size: 30px;
        width: 100%;
    }
}
@media screen and (max-width:480px){
    .slider-title{
        font-size: 26px;
    }
}