 /* .bonus-desc{
        line-height: 90px;
        text-align: center;
    }
    .glow-button{
        display: flex;
         }
         .bonus-but::after{
            display: none;
        } */ /* .bonus-desc{
        line-height: 90px;
        text-align: center;
    }
    .glow-button{
        display: flex;
         }
         .bonus-but::after{
            display: none;
        } */




 /* .bonus-text{
         font-size: 30px;
     } */



    /* .bonus-text{
        font-size: 20px;
        line-height: 80px;
    }
    .glow-button{
        font-size: 15px;
        padding: 5px 5px;
        margin: 5px 10px;
         } */
}
