
.container__targets {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    height: 4000px;
    width: 100%;
  }
  
  .targets-title {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 62, 191);
    font-weight: bolder;
    font-size: 70px;
  }
  .targets-mid {
    width: 100%;
  }
  
  .target-block {
    background-color: rgb(255, 0, 157);
    border: white 2px solid;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
  }
  .target-desc {
    color: rgb(228, 228, 228);
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    width: 500px;
    height: 500px;
  }
  .targets-row {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .target-cap {
    color: white;
  
    font-size: 80px;
  }
  .target-subtitle {
    color: white;
    font-size: 30px;
    text-align: center;
  }

  

  .target-block:hover{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.7);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s all;
  }
 
  .targets-wrapper{
    max-width: 1200px;
    margin: 0 auto;
  }
  object{
    margin-left: 20%;
  }
  .reverse{
flex-direction: row-reverse;
  }